.skills{
    padding: 10%;
    display: flex;
    gap: 50px;
}

.box{
    width: 20%;
}

@media screen and (max-width: 430px){
    .skills{
        flex-direction: column;  
        gap: 10px;
    }
   
}