.photo{
    padding: 10%;
    display: flex;
    gap: 20px;

}

.sobre{
    padding-top:40px;
    text-align: justify;
}

.box{
    width: 40%;
}

@media screen and (max-width: 430px){
    .photo{
        flex-direction: column;
        text-align: center;
    }
}
