.photo{
    padding: 10%;
    display: flex;
    gap: 20px;

    background-color: aqua;
}

.sobre{
    padding: 15px 50px;

}

@media screen and (max-width: 430px){
    .photo{
        flex-direction: column;
        text-align: center;
    }
}
