.contacts{
    padding: 30px 30px;
    display: flex;  
    text-align: center;
    flex-direction: column;
    gap: 40px;
    

}

.images{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 45%;
    gap:30px;
    
}


@media screen and (max-width: 430px){
    .contacts{
        flex-direction: column;
        text-align: center;
    }
    .images{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: none;  
        margin-left: 0;      
    }
}
