.contacts{
    padding: 30px 30px;
    display: flex;  
    text-align: center;
    flex-direction: column;
    gap: 40px;
  
}



@media screen and (max-width: 430px){
    .contacts{
        flex-direction: column;
        text-align: center;
    }
    
}
