.contacts{
    padding: 30px 30px;
    display: flex;
    gap: 70px;

    background-color: aqua;
}



@media screen and (max-width: 430px){
    .contacts{
        flex-direction: column;
        text-align: center;
    }
    
}
